/* last update 2020/12/14 13:06 */
/* base */
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
html {
    font-family: Arial, sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* ios 禁止高亮 */
    -webkit-font-smoothing: antialiased; /* 字体抗锯齿 */
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei" ,华文细黑, STHeiti, MingLiu, Arial, sans-serif;
    font-size: 0;
    background: #000;
}
body, h1, h2, h3, h4, h5, h6, p, img, form, input, textarea, select {
    margin: 0;
    padding: 0;
    border: 0;
}
@media screen and (min-width:750px) and (max-width:1024px) {
    html, body { font-size: 1.6rem!important; }
}
@media screen and (min-width:1025px) and (max-width:1140px) {
    html, body { font-size: 1.8rem!important; }
}
@media screen and (min-width:1141px) and (max-width:1520px) {
    html, body { font-size: 2rem!important; }
}
@media screen and (min-width:1520px) and (max-width:1920px) {
    html, body { font-size: 2.2rem!important; }
}
a {
    text-decoration: none;
}
select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
select::-ms-expand { 
    display: none; 
}
img {
    border: none!important;
}
img[src=""],img:not([src]){
    opacity:0;
}
/* common */
.fixed {
    position: fixed;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.top {
    top: 0;
}
.bottom {
    bottom: 0;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.full-w {
    width: 100%;
}
.full-h {
    height: 100%;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.centerh {
    top: 50%;
    transform: translate3d(0, -50%, 0);
}
.text-center {
    text-align: center;
}
.white {
    color: #fff;
}
.hide {
    display: none;
}

/* index */
.container .box-logo {
    margin-top: 16%;
}
.container form {
    width: 73.6%;
    margin-top: 15.2%;
}
.container .box-input input, .container .box-input select {
    font-size: 1.42rem;
    background: transparent;
}
.container .userName, .container .userPhone, .container .userCode {
    border-bottom: 1px solid rgba(255, 255, 255, 0.22);
}
.container .box-input.userPhone, .container .box-input.userCode {
    margin-top: 8.4%;
}
.container .box-input.userTime, .container .box-input.userCounter {
    margin-top: 8.2%;
}
.container .box-input > img {
    width: 27.174%;
}
.container .userNameVal, .container .userPhoneVal {
    /* letter-spacing: 1px; */
}
.container .userNameVal {
    width: 82%;
}
.container .userPhoneVal {
    width: 81%;
}
.container .box-send {
    width: 21.015%;
}
.container .box-send p {
    font-size: 1rem;
}
.container .userCodeVal {
    width: 81%;
}
.container .box-select {
    width: 70%;
    border-radius: 5rem;
    border: 1px solid #fff;
    overflow-x: hidden;
}
.container .box-select input {
    width: 120%;
}
.container .userTimeVal {
    opacity: 0;
}
.container .userTimeVal-copy {
    width: 78%;
    font-size: 1.32rem;
}
.container .userCounterVal {
    width: 108%;
    font-size: 1.32rem;
    padding: 5% 0;
}
.container .arrow {
    width: 11.232%!important;
}
.container .box-upload {
    width: 98.914%;
    margin-top: 10.8%;
    overflow: hidden;
}
.container .inputfile {
    opacity: 0;
}
.container .box-type {
    margin-top: 18.6%;
}
.container .type-itema {
    margin-top: 12%;
}
.container .type-item > label img {
    width: 40.218%;
}
.container .box-textarea {
    margin-top: 7.8%;
}
.container .fb {
    padding: 2%;
    font-size: 1.4rem;
    line-height: 2.1rem;
    background: transparent;
    resize: none;
}
.container .box-submit {
    margin-top: 17%;
}
.container .box-block {
    height: 3.6rem;
    background: #242424;
}

/* modal */
.container .modal {
    background: #000;
    overflow: hidden;
}
.container .modal-wel .theme {
    top: 68.6%;
}
.container .modal-wel .btn-start {
    width: 43.334%;
    bottom: 5.1%;
}
.container .modal-success .logo {
    top: 6.04rem;
}
.container .modal-success .text-success {
    top: 37.1%;
}

/* license */
.container .box-license {
    font-size: 1rem;
    transform: scale(0.64);
}
.container .box-license .pic-icp {
    width: 3%;
    vertical-align: middle;
}

/* loader */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader {
    display: inline-block;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.box-upload .loader {
    width: 4rem;
    height: 4rem;
    top: 30%;
    border: 0.2rem solid rgba(255, 255, 255, 0.4);
    border-top: 0.2rem solid #fff;
}
.box-submit .box-loading {
    background: #fff;
    border-radius: 0.2rem;
}
.box-submit .loader {
    width: 2rem;
    height: 2rem;
    top: 16%;
    border: 0.3rem solid rgba(0, 0, 0, 0.2);
    border-top: 0.3rem solid #000;
}

/* mobileSelect */
.mobileSelect {
    position: relative;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s, z-index 0.4s;
    transition: opacity 0.4s, z-index 0.4s;
}
.mobileSelect * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mobileSelect .grayLayer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #eee;
    background: rgba(0, 0, 0, 0.7);
    z-index: 888;
    display: block;
}
.mobileSelect .content {
    width: 100%;
    display: block;
    position: fixed;
    z-index: 889;
    color: black;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    bottom: -350px;
    left: 0;
    background: white;
}
.mobileSelect .content .fixWidth {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.mobileSelect .content .fixWidth:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.mobileSelect .content .btnBar {
    border-bottom: 1px solid #DCDCDC;
    font-size: 15px;
    height: 45px;
    position: relative;
    text-align: center;
    line-height: 45px;
}
.mobileSelect .content .btnBar .cancel,
.mobileSelect .content .btnBar .ensure {
    height: 45px;
    width: 55px;
    cursor: pointer;
    position: absolute;
    top: 0;
}
.mobileSelect .content .btnBar .cancel {
    left: 0;
    color: #666;
}
.mobileSelect .content .btnBar .ensure {
    right: 0;
    color: #1e83d3;
}
.mobileSelect .content .btnBar .title {
    font-size: 15px;
    padding: 0 15%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mobileSelect .content .panel:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.mobileSelect .content .panel .wheels {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.mobileSelect .content .panel .wheel {
    position: relative;
    width: 50%;
    z-index: 0;
    float: left;
    height: 200px;
    overflow: hidden;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
.mobileSelect .content .panel .wheel .selectContainer {
    display: block;
    text-align: center;
    -webkit-transition: -webkit-transform 0.18s ease-out;
    transition: -webkit-transform 0.18s ease-out;
    transition: transform 0.18s ease-out;
    transition: transform 0.18s ease-out, -webkit-transform 0.18s ease-out;
}
.mobileSelect .content .panel .wheel .selectContainer li {
    font-size: 15px;
    display: block;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mobileSelect .content .panel .selectLine {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 80px;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.mobileSelect .content .panel .shadowMask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(rgba(255, 255, 255, 0)), to(#ffffff));
    background: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0), #ffffff);
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0), #ffffff);
    opacity: 0.9;
    pointer-events: none;
}
.mobileSelect-show {
    opacity: 1;
    z-index: 10000;
    visibility: visible;
}
.mobileSelect-show .content {
    bottom: 0;
}
